

    <div class="operacion">
        <div class="operacion-1">
            <select name="" id="">
                <option value="">USD</option>
                <option value="">EURO</option>
            </select>
    
            <input type="text">
        </div>

        <div class="operacion-2">
            <select name="" id="">
                <option value="">Bs</option>
                <option value="">Euro</option>
            </select>
    
            <input type="text" disabled>
        </div>
    </div>

    <div class="seccion-botones">
        <button class="numero">7</button>
        <button class="numero">8</button>
        <button class="numero">9</button>
        <button class="btn-especial">C</button>

        <button class="numero">4</button>
        <button class="numero">5</button>
        <button class="numero">6</button>
        <br>
        

        <button class="numero">1</button>
        <button class="numero">2</button>
        <button class="numero">3</button>
        <br>

        <button class="numero">00</button>
        <button class="numero">0</button>
        <button class="btn-especial decimal">.</button>
        <button class="btn-especial">Del</button>
    </div>
